/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Top Navigation Bar Styles #####*/


/*##### Beginning of Element Selectors #####*/
h1 {
  text-align: center;
}

ul {
	list-style-type: none;
}

textarea {
  text-align: center;
  border: 2px solid lightblue;
  background-color: #ededed;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
.addressLine {

}

.babysitterBox {
	min-height: 25vh;
	img {
		height: 16vh;
		width: 16vh;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
	}
	border: 2px solid #555555;
	color: black;
	background-color: #dedede;
	margin: 5px 0px;
	border-radius: 5px;
    position: relative;

    display: grid;
    grid-template-columns: 33% 50% 17%;
    grid-template-rows: auto;
}

.innerMessageBox {
  margin: 1% 0;
  width: 94%;
  display: grid;
  grid-template-columns: 50% 50%;
  li {
    padding: 0 5px;
  }
}

.noAddressLoaded {
	height: 50%;
	text-align: center;
}

.outerMessageBox {
  margin: auto;
}

.profileTextBox {

}

.profileButton {
  margin: auto;
  button {
    border-radius: 10px;
  }
  button:hover {
    background-color: lightgray;
  }
}

.searchBox {
  text-align: center;
}

.wages {
  text-overflow: clip;
  overflow: hidden;
}
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/
