/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Top Navigation Bar Styles #####*/


/*##### Beginning of Element Selectors #####*/
ul {
	list-style-type: none;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
.addressLine {

}

.babysitterBox {
	min-height: 10vh;
	img {
		height: 16vh;
		width: 16vh;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
	}
	border: 2px solid #555555;
	color: black;
	background-color: #dedede;
	margin: 5px 0px;
	border-radius: 2px;
    position: relative;

    display: grid;
    grid-template-columns: 33% 50% 17%;
    grid-template-rows: auto;
}

.innerMessageBox {
  // margin: -1% 0px;
  margin: 1% 0;
  width: 94%;
  // max-height: 98%;
  //height: 50%;
  //min-height: 77%;
  flex-direction: column;
  // overflow: scroll;
}

.noAddressLoaded {
	height: 50%;
	text-align: center;
}

.outerMessageBox {
  margin: auto;
}

.profileTextBox {

}

.searchBox {

}

.wages {
  text-overflow: clip;
  overflow: hidden;
}
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/
