<div>
  <h1>Schedule A Transaction</h1>

  <div>
    <form>
      <div>
        <label class="labelClass" for="StartDate">Start Date: </label>
        <input type="datetime-local" class="InputField" id="StartDate" #myStartDate/>
      </div>

      <div>
        <label class="labelClass" for="EndDate">End Date: </label>
        <input type="datetime-local" class="InputField" id="EndDate" #myEndDate/>
      </div>

      <div>
        <label class="labelClass" for="Pay">Pay: </label>
        <input type="number" class="InputField" id="Pay" #myPay/>
      </div>

      <div>
        <label class="labelClass" for="Details">Other Details: </label>
        <textarea type="text" class="InputField" id="Details" #myDetails></textarea>
      </div>

      <button type="button" class="submitButton" (click)="submitTransactions()">Submit</button>
    </form>
  </div>
</div>
