<div>
  @if (viewedAccount) {
    <div class="outerSplit">
      <div class="headerFormatting">
        <div>
          <img #myImg />
        </div>
        <div class="posRelDiv">
          <div class="mainPageTextDiv posAbsDiv">
            <h1 class="mainPageTextHeader">
              {{viewedAccount.user_fname}}
            </h1>
            <h1 class="mainPageTextHeader">
              {{viewedAccount.user_lname}}
            </h1>
          </div>
        </div>
        <div class="posRelDiv">
          <div class="posAbsDiv">
            <span>
              <button type="button" (click)="EditProfile()">
                Edit Profile
              </button>
            </span>
            <br>
            <span>
              <button type="button" (click)="createNewTransaction()">
                Schedule a Time
              </button>
            </span>
            <span>
              <button type="button" class="messageButton" (click)="createNewChat()">
                <fa-icon icon="envelope"></fa-icon>
                Message
              </button>
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="createChatError()">
        <h3 class="warning">You must login to create a chat!</h3>
      </div>

      <hr>

      <div class="scoringDetails">
        <div class="posRelDiv">
          <div class="addressClass posAbsDiv">
            <h3>
              Address:
            </h3>
            <p>
              {{viewedAccount.user_address}}
            </p>
            <p>
              {{viewedAccount.user_city + " " + viewedAccount.user_zip}}
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="aboutMeSection">
        <h3>
          Preferences:
        </h3>
        <div class="detailsList">
          <p>
            Phone Number: {{viewedAccount.user_phone}}
          </p>
          <p>
            Email: {{viewedAccount.user_emailaddress}}
          </p>
        </div>
      </div>
    </div>
  }
  @else if (!viewedAccount) {
    Loading...
  }
</div>
