<div>
  @if (viewedAccount) {
    <div class="outerSplit">
      <div class="headerFormatting">
        <div>
          <img [src]="imageUrl" alt="" #myImg />
        </div>
        <div class="posRelDiv">
          <div class="mainPageTextDiv posAbsDiv">
            <h1 class="mainPageTextHeader">
              {{viewedAccount.user_fname}}
            </h1>
            <h1 class="mainPageTextHeader">
              {{viewedAccount.user_lname}}
            </h1>
          </div>
        </div>
        <div class="posRelDiv">
          <div class="posAbsDiv">
            <div *ngIf="account() != null && viewedAccount.user_id == account()?.user_id">
              <span>
                <button type="button" (click)="EditProfile()">
                  Edit Profile
                </button>
              </span>
            </div>
            <br>
            <span>
              <button type="button" (click)="createNewTransaction()">
                Schedule a Time
              </button>
            </span>
            <span>
              <button type="button" class="messageButton" (click)="createNewChat()">
                <fa-icon icon="envelope"></fa-icon>
                Message
              </button>
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="createChatError()">
        <h3 class="warning">You must login to create a chat!</h3>
      </div>

      <hr>

      <div class="scoringDetails">
        <div class="posRelDiv">
          <div class="addressClass posAbsDiv">
            <h3>
              Address:
            </h3>
            <p>
              {{viewedAccount.user_address}}
            </p>
            <p>
              {{viewedAccount.user_city + " " + viewedAccount.user_zip}}
            </p>
          </div>

        </div>
        <div class="detailsList">
          <h4>Phone Number:</h4>
          <p>
            {{viewedAccount.user_phone}}
          </p>
          <br>
          <br>
          <br>
          <h4>Email: </h4>
          <p>
            {{viewedAccount.user_emailaddress}}
          </p>
      </div>
      </div>

      <hr>

      <div class="aboutMeSection">
      </div>
    </div>
  }
  @else if (!viewedAccount) {
    Loading...
  }
</div>
