/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Top Navigation Bar Styles #####*/


/*##### Beginning of Element Selectors #####*/
/*##### End of Element Selectors #####*/
  
  
/*##### Beginning of Class Selectors #####*/
.fieldsetClass {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.form {
    width: 100%;
    display: grid;
    gap: 20px 0px;
    grid-template-columns: auto; /* Width */  
    grid-template-rows: auto; /* Height */ 
}

.InputField{
	margin: 0px 0.5vw;
	box-sizing: border-box;
	width: 100%;//30vw;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #E0E0E0;
}

.labelClass {
	margin: 0px 0.5vw;
	font-size: 24px;
	color: #000000;
    display: block;
    text-align: left;
}

.signInClass {
	grid-area: signinLabel;
}
/*##### End of Class Selectors #####*/
  
  
/*##### End of Top Navigation Bar Styles #####*/