<div>
  <fieldset class="fieldsetClass">
    <h1 class="signInClass">Register</h1>

    <form class="form" (ngSubmit)="onSubmit()">
      <div>
        <label class="labelClass labelEmail" for="email">Email</label>
        <input
          id="email"
          type="text"
          [(ngModel)]="user.user_emailaddress"
          class="InputField inputEmail"
          placeholder="Your email"
          name="email"
          title="email"
          required
        />
      </div>

      <div>
        <label class="labelClass labelPassword" for="password">Password</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="user.user_password"
          class="InputField inputPassword"
          name="password"
          placeholder="Your password"
          required
        />
      </div>

      <div>
        <label class="labelClass labelEmail" for="phone">Phone</label>
        <input
          id="phone"
          type="text"
          [(ngModel)]="user.user_phone"
          class="InputField inputEmail"
          name="phone"
          placeholder="Your phone"
          required
        />
      </div>

      <div>
        <label class="labelClass labelFirstName" for="firstName">First Name</label>
        <input
          id="firstName"
          type="text"
          [(ngModel)]="user.user_fname"
          class="InputField inputFirstName"
          name="firstName"
          placeholder="Your first name"
          required
        />
      </div>

      <div>
        <label class="labelClass labelLastName" for="lastName">Last Name</label>
        <input
          id="lastName"
          type="text"
          [(ngModel)]="user.user_lname"
          class="InputField inputLastName"
          name="lastName"
          placeholder="Your last name"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign Up</button>

      <div class="">
        <span>Already have an account? </span>
        <a class="" routerLink="">Sign in now!</a>
      </div>
    </form>
  </fieldset>

  @if (authenticationError()) {
    <div class="alert">
      <p class="Notice"><strong>Failed to sign in!</strong> Invalid email or password.</p>
    </div>
  }
  @if (allDataInput()) {
    <div class="alert">
     <p class="Notice"><strong>Failed to create account!</strong> Please check that all data fields are filled in.</p>
    </div>
  }
</div>
