<div>
  <div class="outerSplit">
    <div class="headerFormatting">
      <div>
        <!-- ADD IMG -->
      </div>
      <div class="posRelDiv">
        <div class="mainPageTextDiv posAbsDiv">
          <h1 class="mainPageTextHeader">
            {{firstName}}
          </h1>
          <h1 class="mainPageTextHeader">
            {{lastName}}
          </h1>
        </div>
      </div>
      <div class="posRelDiv">
        <div class="posAbsDiv">
          <button type="button" class="friendButton">+ Friend</button>
          <span>
            <button type="button" class="messageButton">
              <fa-icon icon="envelope"></fa-icon>
              Message
            </button>
          </span>
        </div>
      </div>
    </div>

    <hr>

    <div class="scoringDetails">
      <div class="posRelDiv">
        <div class="addressClass posAbsDiv">
          <h3>
            Address:
          </h3>
          <p>
            {{addressLine1}}
          </p>
          <p>
            {{addressLine2}}
          </p>
        </div>
      </div>
      <div class="posRelDiv">
        <div class="scoreMainDiv posAbsDiv">
          <h2 class="score">
            Score
          </h2>
          <div class="starsDiv">
            ☆☆☆☆☆
          </div>
          <div class="scoreSummary">
            <div class="numberOfRatings">
              {{totalNumberRatings}} ratings
            </div>
            <div class="averageRating">
              {{totalSumRatings / totalNumberRatings}} out of 5
            </div>
          </div>
        </div>
        </div>
      <div class="posRelDiv">
        <div class="priceDiv posAbsDiv">
          <div>
            Base Price:
          </div>
          <p class="priceTag"><strong>$14</strong>.<sup>99</sup></p><p class="perHour">Per Hour</p>
        </div>
      </div>
    </div>
    <div class="scrollMenu">
      <div class="reviewBlock">
        <div>
          <h4>
            {{reviewBlockHeader}}
          </h4>
        </div>
        <div class="reviewBlockStars">
          ☆☆☆☆☆
        </div>
        <div>
          <p>
            {{reviewBlockDate}}
          </p>
        </div>
        <div>
          {{reviewBlockText}}
        </div>
      </div>
      <div class="reviewBlock">
        <div>
          <h4>
            {{reviewBlockHeader}}
          </h4>
        </div>
        <div class="reviewBlockStars">
          ☆☆☆☆☆
        </div>
        <div>
          <p>
            {{reviewBlockDate}}
          </p>
        </div>
        <div>
          {{reviewBlockText}}
        </div>
      </div>
      <div class="reviewBlock">
        <div>
          <h4>
            {{reviewBlockHeader}}
          </h4>
        </div>
        <div class="reviewBlockStars">
          ☆☆☆☆☆
        </div>
        <div>
          <p>
            {{reviewBlockDate}}
          </p>
        </div>
        <div>
          {{reviewBlockText}}
        </div>
      </div>
      <div class="reviewBlock">
        <div>
          <h4>
            {{reviewBlockHeader}}
          </h4>
        </div>
        <div class="reviewBlockStars">
          ☆☆☆☆☆
        </div>
        <div>
          <p>
            {{reviewBlockDate}}
          </p>
        </div>
        <div>
          {{reviewBlockText}}
        </div>
      </div>
      <div class="reviewBlock">
        <div>
          <h4>
            {{reviewBlockHeader}}
          </h4>
        </div>
        <div class="reviewBlockStars">
          ☆☆☆☆☆
        </div>
        <div>
          <p>
            {{reviewBlockDate}}
          </p>
        </div>
        <div>
          {{reviewBlockText}}
        </div>
      </div>
    </div>

    <hr>

    <div class="aboutMeSection">
      <h3>
        Preferences: 
      </h3>
      <div class="detailsList">
        <p>
          Phone Number: {{phoneNumber}}
        </p>
        <p>
          Email: {{email}}
        </p>
        <p>
          Normal Hours: {{normalHours}}
        </p>
        <p>
          Normal Days: {{normalDays}}
        </p>
        <p>
          Prefered Child Age: {{prefChildAge}}
        </p>
        <p>
          Has Pets: {{hasPetsTF}}
        </p>
      </div>
      <h3>
        About Me:
      </h3>
      <p class="aboutMeParagraph">
        {{aboutMeDesc}}
      </p>
    </div>
  </div>
</div>