<nav data-cy="navbar" class="navbar">
    <ul class="mainUL">
        <li>
          <span class="navbar-title">Babysitter App </span>
        </li>
        <li>
            <!-- Beg of Main Search Tabs -->
            <ul>
                <li>
                    <a routerLink="/">
                        <span>
                            <fa-icon icon="home"></fa-icon>
                            <span> Home</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/findBabysitter">
                        <span>
                            <fa-icon icon="magnifying-glass"></fa-icon>
                            <span> Search Babysitters</span>
                        </span>
                    </a>
                </li>
            </ul>
            <!-- End of Main Search Tabs -->
        </li>
        @if (account() === null) {
            <li>
                <a class="navSignIn" routerLink="/login">
                    <span>
                        <span>Sign in</span>
                    </span>
                </a>
            </li>
        }
        @if (account() !== null) {
            <li>
                <a class="navSignIn" routerLink="">
                    <span>
                        <span (click)="logOut()">Logout</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="navSignIn" [routerLink]="['/settings', 0]">
                    <span>
                        <fa-icon icon="gear"></fa-icon>
                        <span> Settings</span>
                    </span>
                </a>
            </li>
        }
        @if (account()?.user_role) {
            <li>
                <a class="navSignIn" routerLink="/admin">
                    <span>
                        <fa-icon icon="lock"></fa-icon>
                        <span> Admin</span>
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>
