<nav data-cy="navbar" class="navbar">
    <ul class="mainUL">
        <li>
            <a class="navTitle" routerLink="/" (click)="collapseNavbar()">
                <span class="navbar-title">Babysitter App </span>
                <span>{{ version }}</span>
            </a>
        </li>
        <li>
            <!-- Beg of Main Search Tabs -->
            <ul>
                <li>
                    <a routerLink="/" (click)="collapseNavbar()">
                        <span>
                            <fa-icon icon="home"></fa-icon>
                            <span> Home</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/findBabysitter" (click)="collapseNavbar()">
                        <span>
                            <fa-icon icon="magnifying-glass"></fa-icon>
                            <span> Search Babysitters</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/becomeBabysitter" (click)="collapseNavbar()">
                        <span>
                            <fa-icon icon="user-plus"></fa-icon>
                            <span> Become a Babysitter</span>
                        </span>
                    </a>
                </li>
            </ul>
            <!-- End of Main Search Tabs -->
        </li>
        @if (account() === null) {
            <li>
                <a class="navSignIn" routerLink="/login" (click)="collapseNavbar()">
                    <span>
                        <span>Sign in</span>
                    </span>
                </a>
            </li>
        }
        @if (account() !== null) {
            <li>
                <a class="navSignIn" routerLink="" (click)="collapseNavbar()">
                    <span>
                        <span (click)="logOut()">Logout</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="navSignIn" [routerLink]="['/settings', 0]" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="gear"></fa-icon>
                        <span> Settings</span>
                    </span>
                </a>
            </li>
        }
        <li>
            <a class="navSignIn" routerLink="/inbox" (click)="collapseNavbar()">
                <span>
                    <fa-icon icon="envelope"></fa-icon>
                    <span> Inbox</span>
                </span>
            </a>
        </li>
        @if (account()?.user_role) {
            <li>
                <a class="navSignIn" routerLink="/admin" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="lock"></fa-icon>
                        <span> Admin</span>
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>
