/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Top Navigation Bar Styles #####*/


/*##### Beginning of Element Selectors #####*/
a {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
}

li{
  display: inline;
}

li a:hover {
  background-color: #909090;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dedede;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
.mainUL {
  display: block;
}

.navbar {
  padding: 0.2rem 1rem;
}

.navSignIn {
  float: right;
}

.navTitle {
  float: left;
}

.navbar-version {
  font-size: 0.65em;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/