<div>
  <fieldset class="fieldsetClass">
    <h1 class="signInClass">Reset Password</h1>

    <form class="form" (ngSubmit)="onSubmit()">
      <div>
        <label class="labelClass labelEmail" for="email">Email</label>
        <input
          id="email"
          type="text"
          class="InputField inputEmail"
          placeholder="Your email"
          name="email"
          title="email"
          #myEmail
        />
      </div>

      <div>
        <label class="labelClass labelPassword" for="oldPassword">Old Password</label>
        <input
          id="oldPassword"
          type="password"
          class="InputField inputPassword"
          name="oldPassword"
          placeholder="Your old password"
          #myOldPassword
        />
      </div>

      <div>
        <label class="labelClass labelPassword" for="newPassword">New Password</label>
        <input
          id="newPassword"
          type="password"
          class="InputField inputPassword"
          name="newPassword"
          placeholder="Your new password"
          #myNewPassword
        />
      </div>

      <button type="submit" class="btn btn-primary">Change Password</button>

      <div class="">
        <span>Already have an account? </span>
        <a class="" routerLink="/login">Sign in now!</a>
      </div>
    </form>
  </fieldset>
</div>
