<div>
  @if (account() != null) {
    <div class="MainBody">
      <div class="JobTypeSelection">
        <!-- Job Selection Tab -->
        <ul class="SelectorUL">
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': jobSelectorNum === 0, 'SelectorAnonSEL' : jobSelectorNum != 0 }" >
              <a (click)="selectJob(0)" class="SelectorA" >Jobs You Requested</a>
            </div>
            <canvas #canvasJobReq width="20" height="20"></canvas> <!-- They will never know the grid spacing is actually the canvas...-->
          </li>

          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': jobSelectorNum === 1, 'SelectorAnonSEL' : jobSelectorNum != 1 }" >
              <a (click)="selectJob(1)" class="SelectorA" >Jobs You're Working</a>
            </div>
            <canvas #canvasJobWork width="20" height="20"></canvas>
          </li>
        </ul>

        <!-- Job Status Tab -->
        <ul class="SelectorUL">
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': statusSelectorNum === 0, 'SelectorAnonSEL' : statusSelectorNum != 0 }" >
              <a (click)="selectStatus(0)" class="SelectorA" >Pending</a>
            </div>
            <canvas #canvasPending width="20" height="20"></canvas>
          </li>
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': statusSelectorNum === 1, 'SelectorAnonSEL' : statusSelectorNum != 1 }" >
              <a (click)="selectStatus(1)" class="SelectorA" >Accepted</a>
            </div>
            <canvas #canvasAccepted width="20" height="20"></canvas>
          </li>
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': statusSelectorNum === 2, 'SelectorAnonSEL' : statusSelectorNum != 2 }" >
              <a (click)="selectStatus(2)" class="SelectorA" >Declined</a>
            </div>
            <canvas #canvasDeclined width="20" height="20"></canvas>
          </li>
        </ul>

        <!-- Time Selection Tab -->
        <ul class="SelectorUL">
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': timeSelectorNum === 1, 'SelectorAnonSEL' : timeSelectorNum != 1 }" >
              <a (click)="selectTransactionTime(1)" class="SelectorA" >Upcoming Transactions</a>
            </div>
            <canvas #canvasUpcoming width="20" height="20"></canvas>
          </li>
          <li class="InvisibleLI">
            <div class="SelectorLI" [ngClass]="{'SelectorASEL': timeSelectorNum === 0, 'SelectorAnonSEL' : timeSelectorNum != 0 }" >
              <a (click)="selectTransactionTime(0)" class="SelectorA" >Past Transactions</a>
            </div>
            <canvas #canvasPast width="20" height="20"></canvas>
          </li>
        </ul>
      </div>
      <div>
        <ul *ngIf="selectedTransactionList.length > 0; else noTransactions" class="DisplayUL">
          <li *ngFor="let item of selectedTransactionList" class="DisplayLI">
            <p>Transaction ID: {{item.job_id}}</p>
            <p>Parent: {{item.job_parent}}</p>
            <p>Sitter: {{item.job_sitter}}</p>
            <p>Details: {{item.job_details}}</p>
            <p>Created Date: {{item.job_created}}</p>
            <p>Accepted Date: {{item.job_acceptedDate}}</p>
            <p>Start Date: {{item.job_start}}</p>
            <p>End Date: {{item.job_end}}</p>
            <p>Pay: {{item.job_pay}}</p>
            <p>Transaction Status: {{item.job_status}}</p>
            <div *ngIf="item.job_status == 0 && statusSelectorNum === 0 && jobSelectorNum === 1 && timeSelectorNum === 1">
              <div>
                <button (click)="SubmitNewTransactionStatus(parseInt(item.job_id.toString()), 1)">Accept</button>
              </div>
              <div>
                <button (click)="SubmitNewTransactionStatus(parseInt(item.job_id.toString()), 2)">Decline</button>
              </div>
            </div>
          </li>
        </ul>
        <ng-template #noTransactions>
          <p class="Notice">No Transactions currently within this range!</p>
        </ng-template>
      </div>
    </div>
  }
  @else if (account() == null) {
    Loading Transactions...
  }
</div>
