/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Profile Page Styles #####*/


/*##### Beginning of Element Selectors #####*/
table {
	margin: auto;
	border: 1px solid;
}
th, td {
	border: 1px solid;
	padding: 5px;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/