<div>
  <div class="section1">
    <br>
    <div class="box">
      <h1>
        BabySitter App
      </h1>
      <h2>
        Giving baby-sitting services to all in need.
      </h2>
      <h3>
        Need a babysitter? Click <a [routerLink]="['/findBabysitter']">here </a> to search for people in your area!
      </h3>
    </div>
    <br>
    <div class="box">
      <h2>Services for Every Child</h2>
      <div class="grid">
        <div>
          <h4>Care Day or Night</h4>
          <p class="tab">Schedule the perfect time you need them to watch your child. Decide a pick-up and drop-off that fits best for you.</p>
        </div>
        <div>
          <h4>House Sitting</h4>
          <p class="tab">Your child will be lovingly cared for in a respectable home. The house will be occupied and safe during the entire stay.</p>
        </div>
        <div>
          <h4>Training</h4>
          <p class="tab">Sitters are trained in proper etiquette to respectfully watch and care for your child.</p>
        </div>
        <div>
          <h4>Background Check</h4>
          <p class="tab">Sitters may go through careful background checks and receive a badge to show they're safe and boost their profile.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="boxBlack">
    <h3>Our Guarantee</h3>
    <p><strong>Find peace of mind in every booking.</strong></p>
    <p><strong>Photo & Message</strong> options from your sitter each day.</p>
    <p><strong>24/7 Support</strong> if any problems arrive. Call 1-800-888-8888 for assistance.</p>
  </div>
  <br>
  <div class="boxBlack">
    <h3>Our Story</h3>
    <p>
      What started as a local hobby quickly expanded into an city-wide business as our realization of the people's needs arose. As our business expanded, so did our customer base, looking for trustworthy and reliable sitters to take care of their children. In 2016, we expanded from the state of Minnesota to Iowa. Then in 2019, we increased our coverage to North Dakota.
    </p>
    <p>
      Today, we find ourselves in five states, serving over 10,000 users a week. As we look to expand ourselves further, so do we seek to increase our services and reliability to you, the parent. In an unreliable world, leave your children with us where you know they will be taken care of safely and securely.
    </p>
  </div>
</div>
