/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Top Navigation Bar Styles #####*/


/*##### Beginning of Element Selectors #####*/
h1, h2 {
    text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display:block;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/
