/*
  Organized Alphabetically: Please try to keep it this way
*/

/*##### Beginning of Profile Page Styles #####*/


/*##### Beginning of Element Selectors #####*/
h5 {
	margin: 0px;
	margin-top: 5px;
	display: inline;
}

ul {
	list-style-type: none;
	padding: 0px;
}
/*##### End of Element Selectors #####*/


/*##### Beginning of Class Selectors #####*/
.chatGUIBox {
	width: auto;
	height: 10vh;
	img {
		margin-top: 1vh;
		margin-right: 5px;
		height: 80%;
		width: height;
		float: left;
		display: inline;
	}
	p {
		height: 75%;
		text-overflow: clip;
		overflow: hidden;
	}
	border: 2px solid #555555;
	color: black;
	background-color: #dedede;
	margin: 5px 5%;
	border-radius: 2px;
}

.innerMessageBox {
	// margin: -1% 0px;
	margin: 1% 0;
	width: 100%;
	max-height: 98%;
	//height: 50%;
	//min-height: 77%;
	flex-direction: column;
	overflow: scroll;
	position: absolute;
	bottom: 0px;
}

.mainGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 24.5% 1% 74.5%; /* Width */
	grid-template-rows: auto; /* Height */
}

.messageBox {
	min-height: 10vh;
	img {
		margin-top: 1vh;
		margin-right: 5px;
		height: 8vh;
		width: height;
		float: left;
		display: inline;
	}
	border: 2px solid #555555;
	color: black;
	background-color: #dedede;
	margin: 5px 0px;
	border-radius: 2px;
}

.messageText {
	height: 75%;
	text-overflow: clip;
	overflow: hidden;
}

.messageTextField {
	width: 100%;
	height: 15%;
	position: absolute;
	bottom: 0px;
}

.messageTime {
	float: right;
	margin: 3px;
}

.noChatLoaded {
	height: 50%;
	text-align: center;
}

.outerMessageBox {
	position: relative;
}

.outerMessageBox2 {
	position: relative;
	height: 85%;
}

.vl {
	border-left: 2px solid black;
	height: auto;
	min-height: 93vh;
	width: 0px;
}
/*##### End of Class Selectors #####*/


/*##### End of Top Navigation Bar Styles #####*/
