<div>
  <div class="mainGrid">
    <div *ngIf="chatLoaded | async;else other_content">
      <div *ngIf="chatList.length != 0;">
        <ul>
          <li *ngFor="let chat of chatList">
            <div class="chatGUIBox" (click)="selectTabComponent(chat.chat_id.toString())">
              <img src="\speechBubbleMessage.png" alt = ""/>
              <p>{{ getChatUserNames(chat.chat_id.toString()) }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ng-template #other_content>
      <!-- Here so grid display works right -->
      <div class="chatGUIBox">
        <img src="\speechBubbleMessage.png" alt = ""/>
        <p>View someone's profile to create a chat!</p>
      </div>
    </ng-template>

    <div class="vl"></div>

    <div class="outerMessageBox">
      <div class="outerMessageBox2">
        <div class="noChatLoaded" *ngIf="chatSelectedID === -1 && chatList;">
          <div *ngIf="chatList.length == 0;else other_content">
            <h2>You haven't created any chats yet.</h2>
          </div>
          <ng-template #other_content>
            <h2>Click to load a chat!</h2>
          </ng-template>
        </div>
        <ul class="innerMessageBox" *ngIf="chatSelectedID !== -1;">
          <li *ngFor="let message of chatList[chatSelectedID].messages_array">
            <div class="messageBox">
              <h5>{{ getUserNameFromID(message.user_id) }}</h5>
              <p class="messageTime">{{ dateTimeFormatter(message.message_time) }}</p>
              <br>
              <img [src]="SERVER_HOST + '/users/getPfp?param1=' + message.user_id + '&param2=' + Date.now()" alt = ""/>
              <p class="messageText">{{ message.message_text }}</p>
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="chatSelectedID !== -1 && chatList;">
        <textarea title="messageTextField" class="messageTextField" (keydown)="submitMessage($event)" #myTextarea></textarea>
      </div>

    </div>
  </div>
